---
layout: compress
---

{% include base_path %}

<!doctype html>
<html lang="{{ site.locale | slice: 0,2 }}" class="no-js">
  <head>
    {% include head.html %}
    {% include head/custom.html %}
  </head>

  <body>

    {% include browser-upgrade.html %}
    {% include masthead.html %}

    {{ content }}

    <div class="page__footer">
      <footer>
        {% include footer/custom.html %}
        {% include footer.html %}
      </footer>
    </div>

    {% include scripts.html %}

    <!-- 在 </body> 标签前添加 -->

    <!-- Firebase 核心库 -->
    <script type_module src="https://www.gstatic.com/firebasejs/9.22.1/firebase-app.js"></script>
    <!-- Firebase Firestore 数据库库 -->
    <script type_module src="https://www.gstatic.com/firebasejs/9.22.1/firebase-firestore.js"></script>

    <!-- 其他脚本... -->

  </body>
</html>
