---
layout: compress
---

{% include base_path %}

<!doctype html>
<html lang="{{ site.locale | slice: 0,2 }}" class="no-js">
  <head>
    {% include head.html %}
    {% include head/custom.html %}
  </head>

  <body>
    {% include browser-upgrade.html %}
    {% include masthead.html %}

    {{ content }}

    <div class="page__footer">
      <footer>
        {% include footer/custom.html %}
        {% include footer.html %}
      </footer>
    </div>

    {% include scripts.html %}

    <!-- Firebase scripts with correct type="module" -->
    <script type="module" src="https://www.gstatic.com/firebasejs/9.22.1/firebase-app.js"></script>
    <script type="module" src="https://www.gstatic.com/firebasejs/9.22.1/firebase-firestore.js"></script>
    <!-- Load your custom Firebase script as a module -->
    <script type="module" src="{{ base_path }}/assets/js/firebase-counter.js"></script>

  </body>
</html>